# Dependencias
node_modules/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
.env
.env.*

# Build / producción
dist/
build/

# Coverage
coverage/

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp